<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 
   <!--image bar above menu-->
   <div class="imagebar"></div>
   <!--menu bar--> 
   <div class="menucontainer">
    <div class="ul">
       <div class-="li">
          <a href="/">About</a>
          <a href="/challenges">Challenges</a>
          <a href="/sites">Sites</a>
          <a href="/tools">Tools</a>
       </div>
    </div>
 </div>


 <div class="ag-format-container">
   <div class="ag-courses_box">
      <div class="ag-courses_item">
         <a href="/challenges/1" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 1
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Connecting Accounts
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/2" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 2
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 2
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/3" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 3
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 3
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/4" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 4
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 4
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/5" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 5
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 5
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/6" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 6
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 6
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/7" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 7
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 7
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/8" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 8
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 8
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/9" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 9
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 9
           </div>
         </a>
        </div>

        <div class="ag-courses_item">
         <a href="/challenges/10" class="ag-courses-item_link">
           <div class="ag-courses-item_bg"></div>
        
           <div class="ag-courses-item_title">
             Challenge 10
           </div>
        
           <div class="ag-courses-item_subtitle-box">
             Subtitle 10
           </div>
         </a>
        </div>
   </div>
 </div>

 <div class="footer">
  <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground" target="_blank" rel="noopener noreferrer">Project Repo</a>
  <a href="https://github.com/b1p01arC0nf1d3nc3/" target="_blank" rel="noopener noreferrer">b1p01arC0nf1d3nc3</a>
</div>


</html>