
<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 

   <!--hero banner -->
   <div class="banner">
      <div class ="container">
        <h1>OSINT Playground</h1>
        <h5>Learn the basics of open-source intelligence investigations.</h5>
      </div>
   </div>
   <!--menu bar--> 
   <div class="menucontainer">
      <div class="ul">
            <a href="/">About</a>
            <a href="/challenges">Challenges</a>
            <a href="/sites">Sites</a>
            <a href="/tools">Tools</a>
         
      </div>
   </div>
   <h1>Hello traveller!</h1>
   <p>Welcome to the OSINTplayground! This page serves as the hub of the tool, where you can find links to each of the challenges and the sites involved.</p>
   <p></p>
   <h2>About OSINTplayground</h2>
   <p>OSINTplayground is a learning tool to help beginners understand the fundamentals of performing open-source intelligence (OSINT) investigations. The different aspects of an investigation are broken down into a number of challenge rooms. Each challenge room tasks the user with practicing key skills and researching tools used by professionals.</p>
   <p>Additionally, all sites can be navigated freely, which allows for more open investigation of example user activity.</p>
   <p></p>
   <h2>Tools</h2>
   <p>If you are looking for a list of tools that can be used in OSINT investigations, check out the <a href="/tools">'Tools'</a> page.</p>
   <p></p>
   <div class="footer">
      <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground" target="_blank" rel="noopener noreferrer">Project Repo</a>
      <a href="https://github.com/b1p01arC0nf1d3nc3/" target="_blank" rel="noopener noreferrer">b1p01arC0nf1d3nc3</a>
   </div>
     
</html> 