
<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 

   <!--hero banner -->
   <div class="banner">
      <div class ="container">
        <h1>OSINT Playground</h1>
        <h5>Learn the basics of open-source intelligence investigations.</h5>
      </div>
   </div>
   <!--menu bar--> 
   <div class="menucontainer">
      <div class="ul">
            <a href="/">About</a>
            <a href="/challenges">Challenges</a>
            <a href="/sites">Sites</a>
            <a href="/tools">Tools</a>
         
      </div>
   </div>
   <p>The following paragraphs will describe the tool and why it is being made.</p>
   <p>This is a second paragraph.</p>

   <div class="footer">
      <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground">Github Repo</a>
      <a href="/">Link2</a>
      <a href="/">Link3</a>
   </div>
     
</html> 