<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 

   <!--image bar above menu-->
   <div class="imagebar"></div>

   <!--menu bar--> 
   <div class="menucontainer">
    <div class="ul">
       <div class-="li">
          <a href="/">About</a>
          <a href="/challenges">Challenges</a>
          <a href="/sites">Sites</a>
          <a href="/tools">Tools</a>
       </div>
    </div>
 </div>

 <div>
   <h1>Site Directory</h1>
   <p>Cards showing the different sites will be shown below</p>
 </div>

 <div class="row">
   <div class="column">
      <a href="/fauxtube" style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/fauxtubemini.png') }}">
         <div class="cardcontainer">
         <p>fauXtube</p>
         </div>
      </div>
   </a>
   </div>
   <div class="column">
      <a href="/instasham" style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer">
      <div class="card">
         <img src="{{ url_for('static', filename='images/instasham/logo.png') }}">
         <div class="cardcontainer">
         <p>Instasham</p>
         </div>
      </div>
   </a>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/fakebooklogo.jpg') }}">
         <div class="cardcontainer">
         <p>Fakebook</p>
         </div>
      </div>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/bitshill.jpg') }}">
         <div class="cardcontainer">
         <p>BitShill</p>
         </div>
      </div>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/nottok.jpg') }}">
         <div class="cardcontainer">
         <p>NotTok</p>
         </div>
      </div>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/omega.webp') }}">
         <div class="cardcontainer">
         <p>Ω</p>
         </div>
      </div>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/homepage/yonchan.jpg') }}">
         <div class="cardcontainer">
         <p>YonChan</p>
         </div>
      </div>   
   </div>

   <div class="column">
      <div class="card">
         <img src="{{ url_for('static', filename='images/grey2.png') }}">
         <div class="cardcontainer">
         <p>Placeholder</p>
         </div>
      </div>   
   </div>
</div>


<div class="footer">
   <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground" target="_blank" rel="noopener noreferrer">Project Repo</a>
   <a href="https://github.com/b1p01arC0nf1d3nc3/" target="_blank" rel="noopener noreferrer">b1p01arC0nf1d3nc3</a>
</div>

</html>