<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 
   <!--image bar above menu-->
   <div class="imagebar"></div>
   <!--menu bar--> 
   <div class="menucontainer">
    <div class="ul">
       <div class-="li">
          <a href="/">About</a>
          <a href="/challenges">Challenges</a>
          <a href="/sites">Sites</a>
          <a href="/tools">Tools</a>
       </div>
    </div>
 </div>

 <div>
   <h1>Recommended Tools</h1>
   <p>Here is short list of tools that are commonly used in OSINT investigations.</p>
   <p></p>   

   <h2>Username Check</h2>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Sherlock</strong><br> Scrape a variety of social networks for a provided username. <a href="https://github.com/sherlock-project/sherlock" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Namech_k</strong><br> Check a username and see if domains or account have been registered. <a href="https://namechk.com/" target="_blank" rel="noopener noreferrer">Site found here.</a></p>
   <p></p>   

   <h2>Social Media Tools</h2>
   <p><strong>Lookup-ID</strong><br> Find the Facebook ID for a given profile URL. <a href="https://lookup-id.com/" target="_blank" rel="noopener noreferrer">Site found here.</a></p>
   <p><strong>Haveibeenzuckered</strong><br> Check a phone number to see if it is present in a Facebook leak. <a href="https://haveibeenzuckered.com/" target="_blank" rel="noopener noreferrer">Site found here.</a></p>
   <p><strong>Reddit Comment Search</strong><br> Search the comment history of a user on reddit. <a href="https://redditcommentsearch.com/" target="_blank" rel="noopener noreferrer">Site found here.</a></p>   
   <p></p>

   <h2>Company Research</h2>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p></p>

   <h2>Domain and IP Research</h2>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>   
   <p></p>

   <h2>Finance and Crytocurrency</h2>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>
   <p><strong>Maltego</strong><br> Investigation tool that can correlate a wide variety of data through customizable transforms. <a href="https://www.maltego.com/" target="_blank" rel="noopener noreferrer">Project found here.</a></p>   
   <p></p>

 </div>


 <div class="footer">
   <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground" target="_blank" rel="noopener noreferrer">Project Repo</a>
   <a href="https://github.com/b1p01arC0nf1d3nc3/" target="_blank" rel="noopener noreferrer">b1p01arC0nf1d3nc3</a>
</div>

</html>