<html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fauxtubestyles.css') }}"> 
    </head>



<div class="container">
    <h1 class="title">fauXtube</h1>
    <h1 class="title title-large">fauXtube</h1>
    <div id="img-1" class="img-container">   
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
    
    <div class="img-container second-animation">    
      <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>
    
    <div class="img-container third-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
    
    <div class="img-container fourth-animation">    
        <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>
  
    <div class="img-container fifth-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>  
    
    <div id="img-6" class="img-container sixth-animation">    
        <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>  
      
    <div id="img-7" class="img-container seventh-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
  
</div>>
<body>

    <div style="text-align:center;color: white;padding:50;">
        <h1>Welcome to fauXtube!</h1>
    </div>
    
    
        <div class="card_body">
            <a href="/fauxtube/vid1" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid1.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <h2>hackers HATE him!</h2>
                  <p>3:06</p>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>

            <a href="/fauxtube/vid2" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid2.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <h2>GIRAAAAAAFE</h2>
                  <p>12:45</p>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>

            <a href="{{ url_for('video_page', youtube_video_id='1NBfZcNU4O0') }}" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid3.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <h2>Why peas will save your life</h2>
                  <p>1:39</p>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>
        
            <a href="/fauxtube/vid4" class="card">
              <img src="{{url_for('static', filename='images/fauxtubevids/vid4.jpg')}}" alt="image for a video card" class="card__img">
              <span class="card__footer">
                <h2>This car will blow your mind 🔥🔥🔥🔥🔥🔥</h2>
                <p>4:55</p>
              </span>
              <span class="card__action">
                <svg viewBox="0 0 448 512" title="play">
                  <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                </svg>
              </span>
          </a>
        
        
          <a href="/fauxtube/vid5" class="card">
            <img src="{{url_for('static', filename='images/fauxtubevids/vid5.jpg')}}" alt="image for a video card" class="card__img">
            <span class="card__footer">
              <h2>Dogfights over TEXAS!</h2>
              <p>11:11</p>
            </span>
            <span class="card__action">
              <svg viewBox="0 0 448 512" title="play">
                <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
              </svg>
            </span>
        </a>

        <a href="/fauxtube/vid6" class="card">
          <img src="{{url_for('static', filename='images/fauxtubevids/vid6.jpg')}}" alt="image for a video card" class="card__img">
          <span class="card__footer">
            <h2>New RAMEN diet!😭</h2>
            <p>5:40</p>
          </span>
          <span class="card__action">
            <svg viewBox="0 0 448 512" title="play">
              <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
            </svg>
          </span>
      </a>

      <a href="/fauxtube/vid7" class="card">
        <img src="{{url_for('static', filename='images/fauxtubevids/vid7.jpg')}}" alt="image for a video card" class="card__img">
        <span class="card__footer">
          <h2>Lofi nature walk</h2>
          <p>1:53:49</p>
        </span>
        <span class="card__action">
          <svg viewBox="0 0 448 512" title="play">
            <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
          </svg>
        </span>
    </a>

    <a href="/fauxtube/vid8" class="card">
        <img src="{{url_for('static', filename='images/fauxtubevids/vid8.jpg')}}" alt="image for a video card" class="card__img">
        <span class="card__footer">
          <h2>💀BIGFOOT IS REAL💀</h2>
          <p>2:15</p>
        </span>
        <span class="card__action">
          <svg viewBox="0 0 448 512" title="play">
            <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
          </svg>
        </span>
    </a>

    <a href="/fauxtube/vid9" class="card">
        <img src="{{url_for('static', filename='images/fauxtubevids/vid9.jpg')}}" alt="image for a video card" class="card__img">
        <span class="card__footer">
          <h2>Galaga WR attempts: 02/03/2023</h2>
          <p>55:32</p>
        </span>
        <span class="card__action">
          <svg viewBox="0 0 448 512" title="play">
            <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
          </svg>
        </span>
    </a>

    <a href="/fauxtube/vid10" class="card">
      <img src="{{url_for('static', filename='images/fauxtubevids/vid10.jpg')}}" alt="image for a video card" class="card__img">
      <span class="card__footer">
        <h2>DEI for Dummies</h2>
        <p>37:16</p>
      </span>
      <span class="card__action">
        <svg viewBox="0 0 448 512" title="play">
          <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </span>
  </a>


  <a href="/fauxtube/vid11" class="card">
    <img src="{{url_for('static', filename='images/fauxtubevids/vid11.jpg')}}" alt="image for a video card" class="card__img">
    <span class="card__footer">
      <h2>Spa hacks for free treatments 💆</h2>
      <p>23:32</p>
    </span>
    <span class="card__action">
      <svg viewBox="0 0 448 512" title="play">
        <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
      </svg>
    </span>
</a>

<a href="/fauxtube/vid12" class="card">
  <img src="{{url_for('static', filename='images/fauxtubevids/vid12.jpg')}}" alt="image for a video card" class="card__img">
  <span class="card__footer">
    <h2>Binaural WAVE sounds</h2>
    <p>9:55:06</p>
  </span>
  <span class="card__action">
    <svg viewBox="0 0 448 512" title="play">
      <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
    </svg>
  </span>
</a>
        
        
</div>
    
</body>





</html>


