<html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fauxtubestyles.css') }}"> 
    </head>



<div class="container">
    <h1 class="title">fauXtube</h1>
    <h1 class="title title-large">fauXtube</h1>
    <div id="img-1" class="img-container">   
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
    
    <div class="img-container second-animation">    
      <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>
    
    <div class="img-container third-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
    
    <div class="img-container fourth-animation">    
        <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>
  
    <div class="img-container fifth-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>  
    
    <div id="img-6" class="img-container sixth-animation">    
        <img class="img" src="{{url_for('static', filename='images/grey2.png')}}">
    </div>  
      
    <div id="img-7" class="img-container seventh-animation">    
        <img class="img" src="{{url_for('static', filename='images/pink1.png')}}">
    </div>
  
</div>>
<body>

    <div style="text-align:center;color: white;padding:50;">
        <h1>Welcome to fauXtube!</h1>
    </div>
    
    
        <div class="card_body">
            <a href="#" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid1.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <span>hackers HATE him!</span>
                  <span>3:06</span>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>

            <a href="#" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid2.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <span>GIRAAAAAAFE</span>
                  <span>12:45</span>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>

            <a href="#" class="card">
                <img src="{{url_for('static', filename='images/fauxtubevids/vid3.jpg')}}" alt="image for a video card" class="card__img">
                <span class="card__footer">
                  <span>Why peas will save your life</span>
                  <span>1:39</span>
                </span>
                <span class="card__action">
                  <svg viewBox="0 0 448 512" title="play">
                    <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
                  </svg>
                </span>
            </a>
        </div>
    
</body>





</html>


