<html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fauxtubevidpage.css') }}"> 
    </head>

    <body>
        <div class="banner-container">
            <h1><a href="/fauxtube" style="text-decoration: none; color: inherit;">fauXtube</a></h1>
        </div>

        <!--container for video pane with static click/playbutton-->
        <iframe class="video-container" src="https://www.youtube.com/embed/{{ youtube_video_id}}" frameborder="0" allowfullscreen></iframe>



        <div class="video-info-container">
            <p class="video-title">Charlie connecting the dots 🤔</p>
            <p class="channel-name">RyanLovesRunescape42068</p>
            <p class="comment-banner">Comments</p>
            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user2.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Sally123</span>
                    <p class="comment">Pepe Silvia!</p>
                </div>
            </div>
            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user1.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Eirik</span>
                    <p class="comment">Boxes FULL</p>
                </div>
            </div>

            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user4.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Jessica</span>
                    <p class="comment">CaaaAAAARrrrrRRRooOOOL.</p>
                </div>
            </div>

            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user5.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Leanne</span>
                    <p class="comment">Not a gotdamn desk in that entire office. Just like my workplace...</p>
                </div>
            </div>
        </div>





    </body>
    </html>
</html>
