<html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fauxtubevidpage.css') }}"> 
    </head>

    <body>
        <div class="banner-container">
            <h1><a href="/fauxtube" style="text-decoration: none; color: inherit;">fauXtube</a></h1>
        </div>

        <!--container for video pane with static click/playbutton-->
        <iframe class="video-container" src="https://www.youtube.com/embed/{{ youtube_video_id}}" frameborder="0" allowfullscreen></iframe>



        <div class="video-info-container">
            <p class="video-title">GIRAAAAAAFE</p>
            <p class="channel-name">PandasArePeopleToo</p>
            <p class="comment-banner">Comments</p>
            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user1.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Eirik</span>
                    <p class="comment">Pandas are officially my spirit animals after watching this. Can we start a petition to give them human rights? 😂</p>
                </div>
            </div>
            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user3.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Ryan</span>
                    <p class="comment">This video made my day! Pandas really do have personalities just like us. I never knew they could be so relatable!</p>
                </div>
            </div>

            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user5.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Leanne</span>
                    <p class="comment">I never knew pandas had such complex emotions until I watched this. It's amazing how much we can learn about animals when we take the time to understand them.</p>
                </div>
            </div>

            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user2.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Sally123</span>
                    <p class="comment">OMG, pandas are just the cutest! Who else wants to hug one after watching this video? 🐼💕</p>
                </div>
            </div>

            <div class="comment-card">
                <img src="{{ url_for('static', filename='images/instasham/users/user4.jpeg') }}" class="user-dp">
                <div class="comment-body">
                    <span class="username">@Jessica</span>
                    <p class="comment">This video melted my heart! Pandas are not just animals, they're part of our global family. Let's protect and cherish them always!</p>
                </div>
            </div>


        
        </div>





    </body>
    </html>
</html>
