<html>
   <html lang="en"> 
      <head>
          <meta charset="UTF-8"> 
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"> 
      </head> 
   <!--image bar above menu-->
   <div class="imagebar"></div>
   <!--menu bar--> 
   <div class="menucontainer">
    <div class="ul">
       <div class-="li">
          <a href="/">About</a>
          <a href="/challenges">Challenges</a>
          <a href="/sites">Sites</a>
          <a href="/tools">Tools</a>
       </div>
    </div>
 </div>

 <h1>Challenge 4</h1>
 <p>Placeholder content for challenge description</p>

 <div class="footer">
   <a href="https://github.com/b1p01arC0nf1d3nc3/OSINT-playground">Github Repo</a>
   <a href="/">Link2</a>
   <a href="/">Link3</a>
</div>


</html>